<p id="notice"><%= notice %></p>


<%= form_tag '/groups' do %>

  <%= text_field_tag 'invite[:something]' %>

  <%= submit_tag %>
<% end %>

<hr>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Groups</h1>

<% @groups.each do |group| %>
    <div>Group Name: <%= group.name %></div>

    <ul>
    <% group.users.each do |u| %>
      <li><%= u.email %></li>
    <% end %>
  </ul>

<% end %>

<br>

<%= link_to 'New Group', new_group_path %>
