<!DOCTYPE html>
<html>
  <head>
    <title>Groups</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

     <h2>Hi, <%= user_signed_in? ? current_user.email : 'Guest' %></h2>


      <hr>

    <% if user_signed_in? %>
      <%= link_to('Edit registration', edit_user_registration_path) %> |
      <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %> |
      <%= link_to('Register', new_user_registration_path) %>
    <% end %>

    <hr>


  <body>
    <%= yield %>
  </body>
</html>
